.loading-container {
    width: 100%;
    height: 30px; /* Adjust height as needed */
    position: relative;
    overflow: hidden;
  }
  
  .loading-bar {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #5A6ACF; 
    animation: loadingAnimation 1.5s infinite linear;
  }
  
  @keyframes loadingAnimation {
    0% {
      left: -100%;
    }
    100% {
      left: 100%;
    }
  }
  